#This Gitignore is created specificaly for Fmod Workfolder

# Never ignore DLLs in the FMOD subfolder.
![Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
![Aa]ssets/Gizmos/FMOD/*
![Aa]ssets/Editor Default Resources/FMOD/*
                    
# Ignore the Cache folder since it is updated locally.
[Aa]ssets/Plugins/FMOD/Cache/*
[Aa]ssets/**/FMODStudioCache.asset
[Aa]ssets/**/FMODStudioCache.asset.meta
[Aa]ssets/Plugins/FMOD/Cache.meta
[Aa]ssets/Plugins/FMOD/Cache/Editor.meta
                    
# Ignore bank files in the StreamingAssets folder.
[Aa]ssets/StreamingAssets/**/*.bank
[Aa]ssets/StreamingAssets/**/*.bank.meta
                    
# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log


#>>> Manual selection

# Removes client generated workfolder files
fmodWorkspace01/.cache
fmodWorkspace01/Build
fmodWorkspace01/Profiler

fmod-IGUWinterjam/.cache
!fmod-IGUWinterjam/Build
fmod-IGUWinterjam/Profiler